/* Estructura general */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  font-family: 'Inter', sans-serif;
}

main {
  flex: 1;
  font-size: 12px;
}


.boxPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}

.header-container {
  height: 82vh;
  position: relative;
  background-image: url('/volcan.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloPrincipal {
  position: relative;
  color: white;
  /* Cambia el color del texto si es necesario */
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;
}

.subtituloProyectos {
  margin: 0;
}


/*USUARIOS*/

.box_principal {
  background-color: #F5F7F4;
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 85vh;
}

.pantalla_principal {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.barra_lateral {
  background-color: #A6B2AC;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.campoTxtCrear {
  font-size: 14px;
  margin: 10px 8%;
  padding: 6px 6px;
  width: 85%;
  height: 35px;
  border-radius: 5px;
  border: none;
}

.campoTxtBuscar {
  margin: 10px 6%;
  padding: 0px 10px;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.btnBuscar {
  width: 30%;
  height: 30px;
  font-size: 12px;
  background-color: #004D25;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 6% 0 0;
}

.btnBuscar:hover {
  background-color: #850000;
}

.container_principal {
  height: 100%;
}

/*usuarios*/
.item_usuario_vista {
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: 15px 200px;
  padding: 6px 50px;
  background-color: #a6b2ac7b;
  border-radius: 8px;
  align-items: center;
}

.botones {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  gap: 50px;
}

.btn_user_edit {
  border-radius: 5px;
  font-size: 14px;
  border: none;
  height: 25px;
  width: 80px;
  padding: 3px;
  cursor: pointer;
}

.textoNameUser {
  width: 450px;
  border: none;
  height: 30px;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
}

.formTitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/*Proyectos*/

.buttonObra {
  width: 100%;
  height: auto;
  padding: 8px;
  margin: 1px 0;
  cursor: pointer;

}


.buttonCrear {
  padding: 10px 20px;
  width: 86%;
  height: 40px;
  font-size: 12px;
  background-color: #004D25;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10% 7%;
}

.buttonCrear:hover {
  background-color: #850000;
}

.boxGuardar {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

.buttonActualizar {
  padding: 10px 20px;
  width: 200px;
  height: 40px;
  font-size: 12px;
  background-color: #004D25;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonActualizar:hover {
  background-color: #850000;
}

.formularioProyecto {
  padding: 0 30px;

}

.box_link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  width: 100%;
}

.box_container {
  background-color: #f0f0f0;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.box_image {
  height: 200px;
  width: auto;
  padding: 20px;
  border-radius: 10px;
}

.box_title {
  display: flex;
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

/*Formulario Proyecto*/
.encabezado_formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 30px;
}

.mensajeError {
  margin: 5% 6%;
  text-align: center;
  color: #c20000;
}

.box_dos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.box_dos_centrados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  place-items: center;
}

.box_tres {
  display: grid;
  grid-template-columns: auto auto auto;

}

.box_cuatro {
  display: grid;
  grid-template-columns: auto auto auto auto;

}

.box_cinco {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.label_campo {
  font-size: 16px;
  margin-right: 10px;
  flex-shrink: 0;
}

.label_oculto {
  display: none;
}

.campo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.campo_container_planillas {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.input_campos {
  font-size: 14px;
  margin-right: 25px;
  flex: 1;
  border-radius: 3px;
  border: none;
  padding: 4px 10PX;
  box-sizing: border-box;
  background-color: #fffcfcdd;
}


.money_campos {
  font-size: 14px;
  min-width: 20%;
  max-width: 190px;
  border-radius: 3px;
  border: none;
  padding: 3px 6px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  margin: 0 30px 0 3px;
}

.dias_campo {
  font-size: 14px;
  width: 60px;
  border-radius: 3px;
  border: none;
  padding: 3px 8PX;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  margin: 0 2px 0 10px;
  text-align: end;
}

.porcent_campo {
  font-size: 16px;
  font-weight: bold;
  color: #c20000;
  width: 60px;
  border-radius: 3px;
  border: none;
  padding: 3px 5PX;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  margin: 0 3px 0 0;
  text-align: end;
}

.div_row {
  padding: 8px 8px;
  background-color: #a6b2ac7b;
  border-radius: 5px;
  margin: 13px 0;
}

.div_row2 {
  padding: 8px 8px;
  background-color: #78857ee6;
  border-radius: 5px;
  margin: 13px 0;
}

.box_button_delete_guardar {
  display: flex;
  width: 100%;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
  gap: 400px;
}

.button_eliminar {
  padding: 10px 20px;
  width: 200px;
  height: 40px;
  font-size: 12px;
  background-color: #850000;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_eliminar:hover {
  background-color: #EC2128;
}

.filaFormulario {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 5px 0 5px 0;
}

.input_group_ampliaciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0 30px;
}

.input_planillas {
  font-size: 12px;
  margin: 6px 0.2% 6px 1px;
  flex: 1;
  border-radius: 3px;
  border: none;
  padding: 5px 2px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  width: 6%;
}

.input_planillas::placeholder {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.712);
  opacity: 1;
}

.input_reajuste {
  font-size: 12px;
  margin: 6px 2% 6px 1px;
  flex: 1;
  border-radius: 3px;
  border: none;
  padding: 5px 2px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  width: 6%;
}

.input_reajuste::placeholder {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.712);
  opacity: 1;
}

.input_ampliaciones {
  font-size: 14px;
  margin: 6px 5px 6px 6%;
  flex: 1;
  border-radius: 3px;
  border: none;
  padding: 4px 4PX;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  width: 70%;
  text-align: right;
}

/*INFORMES*/

.item_generar_pdf {
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 3fr 1fr 2fr;
  margin: 10px 200px;
  padding: 8px 50px;
  background-color: #273f3547;
  border-radius: 5PX;
}

.label_texto_informes {
  margin: 0 200px;
}

.button_PDF {
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  background-color: white;
}

.button_PDF:hover {
  background-color: beige;
}

.IDbuscarPDF {
  font-size: 14px;
  border-radius: 3px;
  border: none;
  padding: 5px 10PX;
  box-sizing: border-box;
  background-color: #fffcfcdd;
}

/* IMPRIMIR*/

@media print {


  .no-print {
    display: none;
  }

  .box_principal {
    display: grid;
    grid-template-columns: 1% 99%;
    min-height: 85vh;
  }

  .barra_lateral {
    width: auto;
    box-shadow: none;
  }

  .div_row {
    padding: 8px 8px;
    background-color: #a6b2ac7b;
    border-radius: 5px;
    margin: 13px 0;
    width: 100%;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .div_row2 {
    padding: 8px 8px;
    background-color: #78857ee6;
    border-radius: 5px;
    margin: 13px 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .money_campos {
    min-width: 10%;
    max-width: 90px;
    border-radius: 3px;
    border: none;
    padding: 3px 3px;
    box-sizing: border-box;
    background-color: #fffcfcdd;
    margin: 0 30px 0 3px;
  }

  .label_oculto {
    display: inline;
    font-size: 16px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .dias_campo {
    width: 40px;
    border-radius: 3px;
    border: none;
    padding: 3px 3PX;
    box-sizing: border-box;
    background-color: #fffcfcdd;
    margin: 0 2px 0 2px;
    text-align: end;
  }

  .box_button_delete_guardar {
    display: none;
  }

}