/* Estructura general */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  font-family: 'Inter', sans-serif;
}

main {
  flex: 1;
  font-size: 14px;
}


.deshabilitado {
  opacity: 0.4;
  pointer-events: none;
}

.boxPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}

.header-container {
  height: 82vh;
  position: relative;
  background-image: url('/volcan.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tituloPrincipal {
  position: relative;
  color: white;
  /* Cambia el color del texto si es necesario */
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;
}

.subtituloProyectos {
  margin: 0;
}


/*USUARIOS*/

.box_principal {
  background-color: #F5F7F4;
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 85vh;
}

.pantalla_principal {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.barra_lateral {
  background-color: #A6B2AC;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.campoTxtCrear {
  font-size: 14px;
  margin: 10px 8%;
  padding: 6px 6px;
  width: 85%;
  height: 35px;
  border-radius: 10px;
  border: none;
}

.campoTxtBuscar {
  margin: 10px 6%;
  padding: 0px 10px;
  width: 50%;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  border: none;
}

.btnBuscar {
  width: 30%;
  height: 30px;
  font-size: 14px;
  background-color: #004D25;
  color: white;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 6% 0 0;
}

.btnBuscar:hover {
  background-color: #850000;
}

.container_principal {
  height: 100%;
}

/*usuarios*/
.item_usuario_vista {
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: 15px 15%;
  padding: 6px 50px;
  background-color: #a6b2ac7b;
  border-radius: 12px;
  align-items: center;
}

.botones {
  display: flex;
  flex-direction: row;
  padding: 0 5%;
  gap: 30%;
}

.btn_user_edit {
  border-radius: 8px;
  font-size: 14px;
  border: none;
  height: 25px;
  width: 110px;
  padding: 3px 6px;
  cursor: pointer;
}

.btn_user_edit:hover {
  background-color: #850000;
  color: white;
}

.textoNameUser {
  width: 450px;
  border: none;
  height: 30px;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
}

.formTitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/*Proyectos*/

.buttonObra {
  width: 97%;
  height: auto;
  padding: 8px;
  margin: 2px 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 14px;
}

.buttonObra:hover {
  background-color: #e0e0e0;
}

.buttonObra.seleccionado {
  background-color: #004D25;
  color: white;
  width: 99%;
  margin-left: 1.2%;
  border-left: 5px solid #002d16;
  padding: 8px;
}

.buttonCrear {
  padding: 10px 20px;
  width: 86%;
  height: 40px;
  font-size: 14px;
  background-color: #004D25;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10% 7%;
}

.buttonCrear:hover {
  background-color: #850000;
}

.boxGuardar {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

.buttonActualizar {
  padding: 10px 20px;
  width: 200px;
  height: 40px;
  font-size: 14px;
  background-color: #004D25;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonActualizar:hover {
  background-color: #850000;
}

.formularioProyecto {
  padding: 0 30px;

}

.box_link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  width: 100%;
}

.box_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.box_image {
  height: 200px;
  width: auto;
  padding: 20px;
  border-radius: 10px;
}

.box_title {
  display: flex;
  font-size: 16px;
  color: #333;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

/*Formulario Proyecto*/

.encabezado_formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 30px;
}

.mensajeError {
  margin: 5% 6%;
  text-align: center;
  color: #c20000;
}

.box_dos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.box_dos_centrados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  place-items: center;
}

.box_tres {
  display: grid;
  grid-template-columns: auto auto auto;

}

.box_cuatro {
  display: grid;
  grid-template-columns: auto auto auto auto;

}

.box_cinco {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.label_campo {
  font-size: 14px;
  margin-right: 10px;
  flex-shrink: 0;
}

.label_oculto {
  display: none;
}

.campo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.campo_container_planillas {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.input_campos {
  font-size: 13px;
  margin-right: 15px;
  flex: 1;
  border-radius: 5px;
  border: none;
  padding: 4px 8px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
}


.money_campos {
  font-size: 13px;
  min-width: 20%;
  max-width: 190px;
  border-radius: 5px;
  border: none;
  padding: 4px 4px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  margin: 0 auto 0 3px;
}

.dias_campo {
  font-size: 13px;
  width: 60px;
  border-radius: 5px;
  border: none;
  padding: 4px 6px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  margin: 0 2px 0 0;
  text-align: end;
}

.porcent_campo {
  font-size: 14px;
  font-weight: bold;
  color: #c20000;
  width: 60px;
  border-radius: 5px;
  border: none;
  padding: 4px 6px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  margin: 0 3px 0 0;
  text-align: end;
}

.div_row {
  padding: 10px 5px 10px 10px;
  background-color: #a6b2ac7b;
  border-radius: 12px;
  margin: 13px 0;
}

.div_row2 {
  padding: 10px 5px 10px 10px;
  background-color: #78857ee6;
  border-radius: 12px;
  margin: 13px 0;
}

.box_button_delete_guardar {
  display: flex;
  width: 100%;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
  gap: 400px;
}

.button_eliminar {
  padding: 10px 20px;
  width: 200px;
  height: 40px;
  font-size: 14px;
  background-color: #850000;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_eliminar:hover {
  background-color: #EC2128;
}

.filaFormulario {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 5px 0 5px 0;
}

.input_group_ampliaciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 15px;
}

.input_planillas {
  font-size: 12px;
  margin: 6px 0.2% 6px 1px;
  flex: 1;
  border-radius: 3px;
  border: none;
  padding: 5px 2px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  width: 7%;
}

.input_planillas::placeholder {
  font-size: 11px;
  color: rgba(128, 128, 128, 0.712);
  opacity: 1;
}

.input_reajuste {
  font-size: 12px;
  margin: 4px 1.5% 6px 1px;
  flex: 1;
  border-radius: 5px;
  border: none;
  padding: 5px 2px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  width: 6%;
}

.input_reajuste::placeholder {
  font-size: 11px;
  color: rgba(128, 128, 128, 0.712);
  opacity: 1;
}

.input_ampliaciones {
  font-size: 13px;
  border-radius: 5px;
  border: none;
  padding: 4px 4px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  width: 45%;
  text-align: right;
}




/*INFORMES*/

.item_generar_pdf {
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 3fr 1fr 2fr;
  margin: 10px 15%;
  padding: 8px 50px;
  background-color: #a6b2ac7b;
  border-radius: 15px;
}

.label_texto_informes {
  font-size: 14px;
  margin: 0 16%;
  font-weight: bold;
}

.button_PDF {
  border-radius: 12px;
  border: none;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  background-color: white;
}

.button_PDF:hover {
  background-color: beige;
}

.IDbuscarPDF {
  font-size: 14px;
  border-radius: 8px;
  border: none;
  padding: 5px 10PX;
  box-sizing: border-box;
  background-color: #fffcfcdd;
  text-align: center;
}

/***********************PRESUPUESTOS*************************/

.parr-nombre {
  width: 100%;
}

.input-parr-nombre {
  margin: 0 0 0 5px;
  min-width: 82%;
  width: auto;
  max-width: 88%;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 5px 2px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
}

.pr-box-parroquias {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pr-box-informacion {
  width: 100%;
  padding: 15px 2%;
}

.box-info-division {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

}

.box-parr-container {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  margin: 10px 2%;
  background-color: #a6b2ac7b;
  border-radius: 15px;
}

.parr-planillas {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5%;
}

.vias {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 5px;
}

.input-parr-via {
  width: 100%;
  margin: 8px 0;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 5px 2px;
  box-sizing: border-box;
  background-color: #fffcfca1;
}

.info-derecho-principal {
  width: 90%;
}

.info-derecho {
  width: 65%;
}

.info-proyecto {
  min-width: 98%;
  height: 22px;
  margin: 10px 5px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 4px 10px;
  box-sizing: border-box;
  background-color: #a6b2ac7b;
}

.box-info-container-principal {
  display: flex;
  flex-direction: row;
  width: 98%;
}

.box-info-container {
  display: flex;
  flex-direction: row;
  width: 96%;
}

.info-izquierdo-principal {
  text-align: end;
  width: 10%;
}

.info-izquierdo-principal div {
  margin: 14px 0;
}

.info-izquierdo {
  text-align: end;
  width: 35%;
}

.info-izquierdo div {
  margin: 14px 0;
}

.input_pnll {
  width: 100%;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 5px 2px;
  box-sizing: border-box;
  background-color: #fffcfcdd;
}

.parr-presupuesto {
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.total-general {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  width: 40%;
  height: 40px;
  background-color: #a6b2ac7b;
  border-radius: 15px;
}

.totalPlanillas {
  text-align: center;
  margin: 0 5px 0 0;
}

/* IMPRIMIR*/

@media print {

  @page {
    margin: 0;
    padding: 40px 40px;
  }

  .no-print {
    display: none;
  }

  .formularioProyecto {
    padding: 0 10px;
  }

  .box_principal {
    display: grid;
    grid-template-columns: 0.1% 99.9%;
    min-height: 85vh;
  }

  .barra_lateral {
    width: auto;
    box-shadow: none;
  }

  .div_row {
    padding: 8px 8px;
    background-color: #a6b2ac7b;
    border-radius: 10px;
    margin: 10px 0;
    width: 100%;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .div_row2 {
    padding: 8px 8px;
    background-color: #78857ee6;
    border-radius: 10px;
    margin: 10px 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .money_campos {
    min-width: 10%;
    max-width: 80px;
    border-radius: 5px;
    border: none;
    padding: 3px 3px;
    box-sizing: border-box;
    background-color: white;
    margin: 0 auto 0 3px;
  }

  .label_oculto {
    display: inline;
    font-size: 12px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .porcent_campo {
    background-color: white;
    font-size: 12px;
  }

  .dias_campo {
    background-color: white;
    font-size: 12px;
  }

  .input_campos {
    background-color: white;
    font-size: 12px;
  }

  .label_campo {
    font-size: 12px;
    margin-right: 4px;
    flex-shrink: 0;
  }

  .box_button_delete_guardar {
    display: none;
  }

  .input_planillas {
    font-size: 8px;
    margin: 6px 0.2% 6px 1px;
    background-color: white;
  }

  .input_planillas::placeholder {
    font-size: 8px;
    color: rgba(128, 128, 128, 0.482);
    opacity: 1;
  }

  .input_reajuste {
    font-size: 9px;
    margin: 4px 1% 6px 1px;
    background-color: white;
  }

  .input_reajuste::placeholder {
    font-size: 8px;
  }

  /****IMPRIMIR PRESUPUESTOS****/

  .pr-box-informacion {
    width: 100%;
    padding: 0px 0px;
    font-size: 12px;
  }


  .input-parr-via {
    width: 100%;
    margin: 8px 0;
    font-size: 11px;
    border-radius: 5px;
    border: none;
    padding: 5px 2px;
    box-sizing: border-box;
    background-color: #fffcfca1;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .info-derecho-principal {
    width: 90%;
  }

  .info-derecho {
    width: 55%;
    font-size: 12px;
  }

  .info-proyecto {
    min-width: 100%;
    height: 22px;
    margin: 7px 5px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    padding: 4px 10px;
    box-sizing: border-box;
    background-color: #a6b2ac7b;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .box-info-container-principal {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .box-info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .info-izquierdo-principal {
    text-align: end;
    width: 10%;
  }

  .info-izquierdo-principal div {
    margin: 14px 0;
  }

  .info-izquierdo {
    text-align: end;
    width: 45%;
    font-size: 12px;
  }

  .info-izquierdo div {
    margin: 14px 0;
  }

  .box-parr-container {
    display: flex;
    flex-direction: column;
    padding: 8px 8px;
    margin: 5px 2px;
    background-color: #a6b2ac7b;
    border-radius: 15px;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .input-parr-nombre {
    margin: 0 0 0 5px;
    min-width: 70%;
    width: auto;
    max-width: 80%;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    padding: 4px 2px;
    box-sizing: border-box;
    background-color: #fffcfcdd;
  }

  .input_pnll {
    width: 100%;
    font-size: 9px;
    border-radius: 3px;
    border: none;
    padding: 3px 2px;
    box-sizing: border-box;
    background-color: #fffcfcdd;
  }

}